# Copy to .env and edit if needed
COMPOSE_PROJECT_NAME=cdcraft

POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=cdcdemo

S3_ACCESS_KEY=seaweed
S3_SECRET_KEY=seaweed123
S3_ENDPOINT=http://localhost:8333

CONNECT_URL=http://localhost:8083
KAFKA_BROKER=localhost:9092

METABASE_EMAIL=admin@cdcraft.local
METABASE_PASSWORD=Cdcraft123!
