# Docker volumes
infrastructure/volumes/
infrastructure/data/

# Ruff
.ruff_cache/

# Python
__pycache__/
*.py[oc]
.venv
venv
.env


# Coverage
.coverage
coverage.xml

# MkDocs
site/

.pytest_cache
.mypy_cache

*/data
